<html>
    <head>
        <meta charset="utf-8">
        <title>Kyoro Param</title>

        <link rel="stylesheet" href="/css/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,600;1,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">


    </head>

    <header>
        <div id="nav">
            <a href="/" class="app-title">KYORO PARAM</a>
        </div>
    </header>

    <body>
        <div class="container">
            <div class="table-title">
                <h1><%= tb_title %></h1>
            </div>



            <% var keys = Object.keys(params[0]); %>
            <% const re = "metrics"; %>

            <section class="down-to-top">
                <div class="scroll-table">
                    <table>
                        <% for(let i=0; i<3; i++) { %> 
                        <tr>
                            <th class="fixed"><%- keys[i] %></th>
                            <% params.forEach((p)=>{ %>
                                <td><%- p[keys[i]] %></td>
                            <% }); %>
                        </tr>
                        <% }; %>

                        
                        <tr>
                            <td class="table-name">Parameter</td>
                        </tr>
                        
                        <% var counter=0; %>
                        <% for(let i=3; i<keys.length; i++){ 
                            var k = keys[i];

                            if (k.match(re)==null){ %>
                                <tr>
                                    <th class="fixed"><%- k %></th>
                                    <% params.forEach((p)=>{ %>
                                        <td><%- p[k] %></td>
                                    <% }) %>
                                </tr>
                            <% } %>
                        <%};%>


                        <tr>
                            <td class="table-name">Metrics</td>
                        </tr>
                        <% for(let i=3; i<keys.length; i++){ 
                            var k = keys[i];

                            if (k.match(re)==null){
                                continue;
                            } else { %>

                                <% k = k.substr(8); %>
                                <tr>
                                    <th class="fixed"><%- k %></th>
                                    <% params.forEach((p)=>{ %>
                                        <td><%- p[keys[i]] %></td>
                                <% }) %>
                            </tr>
                            <%}%>
                        <% } %>
               


                    </table>
                </div>

            </section>

        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="/js/script.js"></script>

    </body>
</html>